.ssh
.dropbox
.dropbox-dist
.thunderbird/
.xchat2
.xournal
.xscreensaver
.xsession-errors
.zenmap
.m2
.ICEauthority
.IdeaIC12
.IdeaIC13
.IntelliJIdea12
.IntelliJIdea13
.PyCharm30
.Skype
.VirtualBox
.WebStorm6
.Xauthority
.audacity-data
.bash_history
.bzr.log
.cache
.cassandra
.cola
.color
.compiz
.config
.dbus
.dia
.dmrc
.filezilla
.freelance_auto_loggin.log
.freerdp
.gconf
.gimp-2.8
.gksu.lock
.gnome
.gnome2
.gnupg
.gradle
.grails
.gstreamer-0.10
.gtk-bookmarks
.gtk-recordmydesktop
.gtkpod
.h2.server.properties
.hplip
.ido.last
*~
.install4j
.install4j_jre
.java
.jprofiler8
.macromedia/
.mozilla
.mysql
.mysql_history
.node-gyp
.npm
.nx
.odesk_auto_loggin.log
.openshift
.pip
.pki
.pulse-cookie
.pulse
.pylint.d
.qt
.quarry
.remmina
.scala_history
.selected_editor
.shell-micro-utils
.shutter
.speech-dispatcher
.swt
.thumbnails
.kde
.local
.rpmdb
ProfitBricks-soapui-project.xml
default-soapui-workspace.xml
soapui-settings.xml

Desktop
Documents
Downloads
Dropbox
IThings
Music
Pictures
Videos
VirtualBox VMs/
