[Desktop Entry]
Name=Vim
GenericName=Text Editor

Exec=vim
Terminal=true
Icon=vim-icon
Type=Application
Categories=TextEditor;IDE;Development
X-Ayatana-Desktop-Shortcuts=NewWindow

[NewWindow Shortcut Group]
Name=New Window
Exec=vim -n
TargetEnvironment=Unity

