[Desktop Entry]
Version=1.0
Name=WebStorm
GenericName=JavaScript IDE
Comment=Edit your code

Exec=/home/sivikt/IThings/tools/WebStorm/bin/webstorm.sh
Terminal=false
Icon=webstorm
Type=Application
Categories=IDE;Development
X-Ayatana-Desktop-Shortcuts=NewWindow

[NewWindow Shortcut Group]
Name=New Window
Exec=/home/sivikt/IThings/tools/WebStorm/bin/webstorm.sh
TargetEnvironment=Unity

